SENDGRID_API_KEY=replace-with-your-sendgrid-api-key
FROM_EMAIL=you@example.com
SQLALCHEMY_DATABASE_URL=postgresql://postgres:12345@localhost:5400/bookingSystem
DOCKER_SENDGRID_API_KEY=replace-with-your-sendgrid-api-key
DOCKER_FROM_EMAIL=you@example.com
STRIPE_PUBLISHABLE_KEY=replace-with-your-stripe-publishable-key
STRIPE_SECRET_KEY=replace-with-your-stripe-secret-key
