# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Database
*.sqlite3

# Cache
.pytest_cache/
.mypy_cache/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
.env